name: CI

on:
  push:
  pull_request:

env:
  CARGO_INCREMENTAL: 0
  RUSTFLAGS: -D warnings

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Install Rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true
          components: rustfmt, clippy

      - name: Lint
        run: |
          cargo fmt -- --check
          cargo clippy --all-targets

      - name: Build Documentation
        run: cargo doc --no-deps

      - name: Run tests
        run: cargo test

  minimum-supported-rust-version:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: 1.36.0
          override: true
      - run: cargo check
